{% extends "PageBasiqueBundle::base.html.twig" %}

{% block body %}
    <div id="contenu">
        <h1>Ceci est ma page Social.</h1>

        <p> blabla suicide social </p>


        <a href="{{ path('accueil') }}">Retour à l'accueil</a>

    </div>
{% endblock %}
